<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>HTML colors</title>
</head>

<body>
    <div class="container">
        <div class="mb-2"></div>
        <button id="fetch-colors" class="btn btn-primary">Az eddig elmentett színek</button>
        <div id="color-list-components"></div>
        <form id="create-color">
            <label>A szín kódja: <input type="text" name="code" class="form-control"></label>
            <label>A szín neve: <input type="text" name="name" class="form-control"></label>
            <button type="submit" class="btn btn-primary">Új szín felvétele</button>
        </form>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>